
.section-courses{
    background-color: #E2CFEA;
}
.courses{
    padding: 10rem 1rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.course-heading{
    padding-top: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: #062726;
}

.card{
    height: 32rem;
    border-radius: .9rem;
    overflow: hidden;
    transition: all .55s ease;
    box-shadow: 0 1.5rem 4rem rgba(6, 39, 38, 0.25);
    background-color: #062726;
    color: #fff;
    flex-shrink: 0;
}

    .card:hover{
        transform: scale(1.2);
    }


    .card img{
        height: 230px;
    }

    .card .bottom {
        padding: 3rem 0 0 1rem;
    }

    .card .bottom .name{
        font-size: 2rem;
        margin-bottom: .5rem;
    }

    .card .bottom .author{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .card .bottom .price {
        margin-bottom: 1rem;
    }


    .card .bottom svg{
        margin-bottom: 2rem;
    }

.card__button {
    display: flex;
    justify-content: center;
    
}

    .card__button .cta button {
        background-color: rgba(160, 108, 213, 1);
    }

    .card__button .cta button:hover {
        background-color: rgba(160, 108, 213, 0.8);
    }

